---
whiskers:
    version: 2.5.1
    filename: "../icon_themes/catppuccin-icons.json"
---
{
  "$schema": "https://zed.dev/schema/icon_themes/v0.2.0.json",
  "name": "Catppuccin Icons",
  "author": "Catppuccin <releases@catppuccin.com>",
  "themes": [
  {%- for _, flavor in flavors %}
    {
      "name": "Catppuccin {{ flavor.name }}",
      "appearance": {% if flavor.dark %}"dark"{% else %}"light"{% endif %},
      "directory_icons": {
        "collapsed": "./icons/{{ flavor.identifier }}/_folder.svg",
        "expanded": "./icons/{{ flavor.identifier }}/_folder_open.svg"
      },
      "chevron_icons": {
        "collapsed": null,
        "expanded": null
      },
      "file_stems": {
        "LICENSE": "license",
        "README": "readme",
        "Makefile": "makefile",
        "Caddyfile": "caddy",
        "Dockerfile": "docker"
      },
      "file_suffixes": {
        "README.md": "readme",
        "README.txt": "readme",
        "typst": "typst",
        "sdl": "d"
      },
      "file_icons": {
        "default": { "path": "./icons/{{ flavor.identifier }}/_file.svg" },
        "metal": { "path": "./icons/{{ flavor.identifier }}/apple.svg" },
        "vcs": { "path": "./icons/{{ flavor.identifier }}/git.svg" },
        "settings": { "path": "./icons/{{ flavor.identifier }}/properties.svg" },
        "storage": { "path": "./icons/{{ flavor.identifier }}/database.svg" },
        "document": { "path": "./icons/{{ flavor.identifier }}/text.svg" }
      }
    }{% if not loop.last %},{% endif -%}
  {% endfor %}
  ]
}
